<div id="insights" class="container" [class.hidden]="!data">
  <div class="row">
    <div class="col col--md-5">
      <h3>{{ this.insights?.getPageSpeedScore() }}/100</h3>
    </div>
    <div class="col col--md-7">
      <canvas width="400" height="400" #resourceChart></canvas>
    </div>
  </div>

  <section>
    <div *ngFor="let suggestion of suggestions">
      <h4>{{ suggestion.name }} ({{ suggestion.impact.toFixed(0) }})</h4>
      <p>{{ suggestion.summary }}</p>
    </div>
  </section>
  <section>
    <h3>Resources</h3>
    <p>Used resources</p>
  </section>
  <section>
    <h3>Improvements</h3>
    <p>Global stats</p>
  </section>
</div>
