<main id="insights" class="container" [class.hidden]="!data">

  <section>
    <div class="row">
      <div class="col col--md-6">
        <img *ngIf="insights" [src]="screenshot | trustedUrl" />
      </div>
      <div class="col col--md-6">
        <p>Your score</p>
        <span style="font-size: 2.5rem; line-height: 1;">{{ insights?.getPageSpeedScore() }}</span> / 100
      </div>
    </div>
  </section>

  <section>
    <h4>Resources</h4>
    <canvas width="400" height="400" #resourceChart></canvas>
  </section>

  <section>
    <h4>Suggestions</h4>
    <div class="suggestion" *ngFor="let suggestion of suggestions">
      <span>{{ suggestion.name }} ({{ suggestion.impact.toFixed(0) }})</span>
      <p>{{ suggestion.summary }}</p>
    </div>
  </section>

</main>
